
.container{
    background-color: black;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    border-radius: 1rem;
}
.resultCard{
    padding: 0rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.resultCard h4 {
    color: white;
    font-size: 18px;
    margin: 0;
}
.resultCard #result {
    color: white;
    font-size: 60px;
}

h3{
    color: white;
    font-size: 24px;
}
.btnCard{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.btn{
    height: 3rem;
    width: 100%;
    margin: 20px;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: antiquewhite;
    transition: 0.2s;
}

.choices {
    display: flex;
    justify-content: space-around;
    width: 100%;

    color: white;
}

.choices svg {
    fill: white;
}

#playerChoice {
    color: rgb(12, 209, 12);
}

#computerChoice {
    color: red;
}

.center {
    text-align: center;
}